/.idea

/micro-admin/micro-admin.iml
/micro-config-server/micro-config-server.iml
/micro-jwt/micro-jwt.iml
/micro-order-jwt/micro-order-jwt.iml
/micro-order-no/micro-order-no.iml
/micro-order-security/micro-order-security.iml
/micro-security/micro-security.iml
/micro-security-db/micro-security-db.iml
/micro-service-api/micro-service-api.iml
/micro-turbine/micro-turbine.iml
/micro-web-jwt/micro-web-jwt.iml
/micro-web-no/micro-web-no.iml
/micro-web-security/micro-web-security.iml
/micro-zipkin/micro-zipkin.iml
/micro-zuul/micro-zuul.iml
/micro-zuul-security/micro-zuul-security.iml
/springcloud-dashboard/springcloud-dashboard.iml
/springcloud-eureka/springcloud-eureka.iml

/micro-admin/target
/micro-config-server/target
/micro-jwt/target
/micro-order-jwt/target
/micro-order-no/target
/micro-order-security/target
/micro-security/target
/micro-security-db/target
/micro-service-api/target
/micro-turbine/target
/micro-web-jwt/target
/micro-web-no/target
/micro-web-security/target
/micro-zipkin/target
/micro-zuul/target
/micro-zuul-security/target
/springcloud-dashboard/target
/springcloud-eureka/target
